name: aves
description: A visual media gallery and metadata explorer app.
repository: https://github.com/deckerst/aves
# version bump checklist:
# - pubspec version
# - github changelog: /CHANGELOG.md
# - play changelog:   /whatsnew/whatsnew-en-US
# - izzy changelog:   /fastlane/metadata/android/en-US/changelogs/1XXX.txt
version: 1.5.11+65
publish_to: none

environment:
  sdk: '>=2.15.0 <3.0.0'

# use `scripts/apply_flavor_{flavor}.sh` to set the right dependencies for the flavor
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  aves_report:
    path: plugins/aves_report
  aves_report_platform:
    path: plugins/aves_report_crashlytics
  charts_flutter:
  collection:
  connectivity_plus:
  country_code:
# TODO TLAD as of 2022/01/30, null safe version is pre-release
  custom_rounded_rectangle_border: '>=0.2.0-nullsafety.0'
  decorated_icon:
  device_info_plus:
  equatable:
  event_bus:
  expansion_tile_card:
    git:
      url: git://github.com/deckerst/expansion_tile_card.git
  fijkplayer:
    git:
      url: git://github.com/deckerst/fijkplayer.git
      ref: aves
  flex_color_picker:
  fluster:
  flutter_highlight:
  flutter_map:
  flutter_markdown:
  flutter_staggered_animations:
  get_it:
  google_api_availability:
  google_maps_flutter:
  intl:
  latlong2:
  material_design_icons_flutter:
  overlay_support:
  package_info_plus:
  palette_generator:
# TODO TLAD as of 2022/01/30, latest version (v0.4.1) has this issue: https://github.com/zesage/panorama/issues/25
  panorama: 0.4.0
  pdf:
  percent_indicator:
  permission_handler:
  printing:
  provider:
  screen_brightness:
  shared_preferences:
  sqflite:
  streams_channel:
    git:
      url: git://github.com/deckerst/aves_streams_channel.git
  transparent_image:
  tuple:
  url_launcher:
  xml:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_lints:
  test:

flutter:
  assets:
    - assets/
  generate: true
  uses-material-design: true

################################################################################
# Build

# deckerst/fijkplayer

# This fork depends on a local .aar, but Flutter does not support this well
# cf https://github.com/flutter/flutter/issues/28195
# so building an app with this plugin requires the file to be present at:
# `<app-root>/android/app/libs/fijkplayer-full-release.aar`
# The .aar file in the app will take precedence over the one in the plugin itself.

# The reference file is available at:
# - [git] https://github.com/deckerst/fijkplayer/blob/aves-config/android/libs/fijkplayer-full-release.aar
# - [local/win] C:\Users\<user>\AppData\Local\Pub\Cache\git\fijkplayer-<version>\android\libs\fijkplayer-full-release.aar

################################################################################
# Localization

# language files:
# - /lib/l10n/app_{language}.arb
# - /android/app/src/main/res/values-{language}/strings.xml
# - edit locale name in /lib/widgets/settings/language/locales.dart

# generate `AppLocalizations`
# % flutter gen-l10n

################################################################################
# Test driver

# capture shaders (profile mode, real device only):
# % flutter drive --flavor play -t test_driver/driver_shaders.dart --profile --cache-sksl --write-sksl-on-exit shaders.sksl.json

# generate screenshots (profile mode, specific collection):
# % flutter drive --flavor play -t test_driver/driver_screenshots.dart --profile

################################################################################
# Adaptations

#  `DraggableScrollbar` in `/widgets/common/basic/draggable_scrollbar.dart`
#  adapts from package `draggable_scrollbar` v0.0.4
#
#  `Magnifier` in `/widgets/common/magnifier/magnifier.dart`
#  adapts from package `photo_view` v0.9.2
#
#  `AvesHighlightView` in `/widgets/common/aves_highlight.dart`
#  adapts from package `flutter_highlight` v0.7.0
#
#  `OutputBuffer` in `/services/common/output_buffer.dart`
#  adapts from Flutter `_OutputBuffer` in `/foundation/consolidate_response.dart`
#
#  `EagerScaleGestureRecognizer` in `/widgets/common/behaviour/eager_scale_gesture_recognizer.dart`
#  adapts from Flutter `ScaleGestureRecognizer` in `/gestures/scale.dart`
#
#  `TransitionImage` in `/widgets/common/fx/transition_image.dart`
#  adapts from Flutter `RawImage` in `/widgets/basic.dart` and `DecorationImagePainter` in `/painting/decoration_image.dart`
#
#  `_RenderSliverKnownExtentBoxAdaptor` in `/widgets/common/grid/sliver.dart`
#  adapts from Flutter `RenderSliverFixedExtentBoxAdaptor` in `/rendering/sliver_fixed_extent_list.dart`
#
#  `CollectionSearchDelegate`, `SearchPageRoute` in `/widgets/search/search_delegate.dart`
#  adapts from Flutter `SearchDelegate`, `_SearchPageRoute` in `/material/search.dart`
