name: aves
description: A visual media gallery and metadata explorer app.
repository: https://github.com/deckerst/aves
# version bump checklist:
# - pubspec version
# - github changelog: /CHANGELOG.md
# - play changelog:   /whatsnew/whatsnew-en-US
# - izzy changelog:   /fastlane/metadata/android/en-US/changelogs/XXX01.txt
# - libre changelog:  /fastlane/metadata/android/en-US/changelogs/XXX.txt
version: 1.11.10+129
publish_to: none

environment:
  # this project bundles Flutter SDK via `flutter_wrapper`
  # cf https://github.com/passsy/flutter_wrapper
  flutter: 3.24.2
  sdk: '>=3.5.0 <4.0.0'

# use `scripts/apply_flavor_{flavor}.sh` to set the right dependencies for the flavor
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  aves_magnifier:
    path: plugins/aves_magnifier
  aves_map:
    path: plugins/aves_map
  aves_model:
    path: plugins/aves_model
  aves_report:
    path: plugins/aves_report
  aves_report_platform:
    path: plugins/aves_report_crashlytics
  aves_screen_state:
    path: plugins/aves_screen_state
  aves_services:
    path: plugins/aves_services
  aves_services_platform:
    path: plugins/aves_services_google
  aves_video:
    path: plugins/aves_video
  aves_video_ffmpeg:
    path: plugins/aves_video_ffmpeg
  aves_video_mpv:
    path: plugins/aves_video_mpv
  aves_ui:
    path: plugins/aves_ui
  aves_utils:
    path: plugins/aves_utils
  charts_flutter:
    git:
      # https://github.com/fzyzcjy/charts.git master commit de76a46 (Sep 26, 2022) is incompatible with Flutter v3.10
      url: https://github.com/deckerst/flutter_google_charts.git
      ref: aves
      path: charts_flutter
  collection:
  connectivity_plus:
  country_code:
  decorated_icon:
  device_info_plus:
  dlna_dart:
  dynamic_color:
  equatable:
  event_bus:
  expansion_tile_card:
    git:
      url: https://github.com/deckerst/expansion_tile_card.git
  flex_color_picker:
  floating:
  fluster:
  flutter_displaymode:
  flutter_highlight:
  flutter_localization_nn:
    git:
      url: https://github.com/deckerst/flutter_localization_nn.git
  flutter_map:
  flutter_markdown:
  flutter_staggered_animations:
  get_it:
  intl:
  latlong2:
  leak_tracker:
  local_auth:
  material_design_icons_flutter:
  network_info_plus:
  overlay_support:
  package_info_plus:
  palette_generator:
  panorama:
    git:
      url: https://github.com/deckerst/aves_panorama.git
      ref: aves
  path:
  pattern_lock:
  pdf:
  percent_indicator:
  permission_handler:
  pin_code_fields:
  printing:
  proj4dart:
  provider:
  screen_brightness:
  shared_preferences:
  shelf:
  smooth_page_indicator:
  sqflite:
  stack_trace:
  streams_channel:
    git:
      url: https://github.com/deckerst/aves_streams_channel.git
  transparent_image:
  url_launcher:
  vector_math:
  volume_controller:
  xml:

dependency_overrides:
  # media_kit_video v1.2.4 depends on a specific old version of screen_brightness
  media_kit_video: ^1.0.0
  screen_brightness: ^1.0.0
  #  Because printing >=5.13.2 depends on web ^1.0.0 and firebase_core_web >=2.12.0 depends on web ^0.5.1, printing >=5.13.2 is incompatible with firebase_core_web >=2.12.0.
  #  And because firebase_core 3.3.0 depends on firebase_core_web ^2.17.4, printing >=5.13.2 is incompatible with firebase_core 3.3.0.
  #  So, because aves depends on both firebase_core 3.3.0 and printing 5.13.2, version solving failed.
  printing: "5.13.1"

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_lints:
  shared_preferences_platform_interface:
  test:

flutter:
  assets:
    - assets/
  generate: true
  uses-material-design: true

################################################################################
# Localization

# language files:
# - /lib/l10n/app_{language}.arb
# - /android/app/src/main/res/values-{language}/strings.xml
# - edit locale name in /lib/widgets/settings/language/locales.dart

# generate `AppLocalizations`
# % ./flutterw gen-l10n

################################################################################
# Test driver

# capture shaders (profile mode, real device only):
# % ./flutterw drive --flavor play -t test_driver/driver_shaders.dart --profile --cache-sksl --write-sksl-on-exit shaders.sksl.json

# generate screenshots (profile mode, specific collection):
# % ./flutterw drive --flavor play -t test_driver/driver_screenshots.dart --profile

################################################################################
# Adaptations

#  `DraggableScrollbar` in `/widgets/common/basic/draggable_scrollbar.dart`
#  adapts from package `draggable_scrollbar` v0.0.4
#
#  `Magnifier` in `/widgets/common/magnifier/magnifier.dart`
#  adapts from package `photo_view` v0.9.2
#
#  `AvesHighlightView` in `/widgets/common/aves_highlight.dart`
#  adapts from package `flutter_highlight` v0.7.0
#
#  `OutputBuffer` in `/services/common/output_buffer.dart`
#  adapts from Flutter v3.16.0 `_OutputBuffer` in `/foundation/consolidate_response.dart`
#
#  `TvLicensePage` in `/widgets/about/tv_license_page.dart`
#  adapts from Flutter v3.16.0 `_LicenseData` in `/material/about.dart`
#  and `_PackageLicensePage` in `/material/about.dart`
#
#  `OverlaySnackBar` in `/widgets/common/action_mixins/overlay_snack_bar.dart`
#  adapts from Flutter v3.23.0 `SnackBar` in `/material/snack_bar.dart`
#
#  `EagerScaleGestureRecognizer` in `/widgets/common/behaviour/eager_scale_gesture_recognizer.dart`
#  adapts from Flutter v3.16.0 `ScaleGestureRecognizer` in `/gestures/scale.dart`
#
#  `KnownExtentScrollPhysics` in `/widgets/common/behaviour/known_extent_scroll_physics.dart`
#  adapts from Flutter v3.16.0 `FixedExtentScrollPhysics` in `/widgets/list_wheel_scroll_view.dart`
#
#  `TransitionImage` in `/widgets/common/fx/transition_image.dart`
#  adapts from Flutter v3.10.0 `_ImageState` in `/widgets/image.dart`
#  and `DecorationImagePainter` in `/painting/decoration_image.dart`
#
#  `_RenderSliverKnownExtentBoxAdaptor` in `/widgets/common/grid/sliver.dart`
#  adapts from Flutter v3.10.0 `RenderSliverFixedExtentBoxAdaptor` in `/rendering/sliver_fixed_extent_list.dart`
#
#  `AvesSearchDelegate`, `SearchPageRoute` in `/widgets/common/search/*.dart`
#  adapts from Flutter v3.16.0 `SearchDelegate`, `_SearchPageRoute` in `/material/search.dart`
