name: aves
description: A visual media gallery and metadata explorer app.
repository: https://github.com/deckerst/aves
# version bump checklist:
# - pubspec version
# - github changelog: /CHANGELOG.md
# - play changelog:   /whatsnew/whatsnew-en-US
# - izzy changelog:   /fastlane/metadata/android/en-US/changelogs/XX01.txt
# - libre changelog:  /fastlane/metadata/android/en-US/changelogs/XX.txt
version: 1.8.0+91
publish_to: none

environment:
  # this project bundles Flutter SDK via `flutter_wrapper`
  # cf https://github.com/passsy/flutter_wrapper
  flutter: 3.7.3
  sdk: ">=2.19.0 <3.0.0"

# following https://github.blog/2021-09-01-improving-git-protocol-security-github/
# dependency GitHub repos should be referenced via `https://`, not `git://`

# use `scripts/apply_flavor_{flavor}.sh` to set the right dependencies for the flavor
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  aves_magnifier:
    path: plugins/aves_magnifier
  aves_map:
    path: plugins/aves_map
  aves_report:
    path: plugins/aves_report
  aves_report_platform:
    path: plugins/aves_report_crashlytics
  aves_services:
    path: plugins/aves_services
  aves_services_platform:
    path: plugins/aves_services_google
  aves_ui:
    path: plugins/aves_ui
  charts_flutter:
    git:
      url: https://github.com/fzyzcjy/charts.git
      ref: master
      path: charts_flutter
  collection:
  connectivity_plus:
  country_code:
  decorated_icon:
  device_info_plus:
  dynamic_color:
  equatable:
  event_bus:
  expansion_tile_card:
    git:
      url: https://github.com/deckerst/expansion_tile_card.git
  fijkplayer:
    git:
      url: https://github.com/deckerst/fijkplayer.git
      ref: aves
  flex_color_picker:
  fluster:
  flutter_displaymode:
  flutter_highlight:
  flutter_map:
  flutter_markdown:
  flutter_staggered_animations:
  get_it:
  intl:
  latlong2:
  local_auth:
  material_color_utilities:
  material_design_icons_flutter:
  overlay_support:
  package_info_plus:
  palette_generator:
  panorama:
    git:
      url: https://github.com/deckerst/aves_panorama.git
      ref: aves
  path:
  pdf:
  percent_indicator:
  permission_handler:
  pinput:
  printing:
  proj4dart:
  provider:
  screen_brightness:
  screen_state:
  shared_preferences:
  smooth_page_indicator:
  sqflite:
  streams_channel:
    git:
      url: https://github.com/deckerst/aves_streams_channel.git
  transparent_image:
  tuple:
  url_launcher:
  volume_controller:
  xml:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_lints:
  shared_preferences_platform_interface:
  test:

flutter:
  assets:
    - assets/
  generate: true
  uses-material-design: true

################################################################################
# Localization

# language files:
# - /lib/l10n/app_{language}.arb
# - /android/app/src/main/res/values-{language}/strings.xml
# - edit locale name in /lib/widgets/settings/language/locales.dart

# generate `AppLocalizations`
# % ./flutterw gen-l10n

################################################################################
# Test driver

# capture shaders (profile mode, real device only):
# % ./flutterw drive --flavor play -t test_driver/driver_shaders.dart --profile --cache-sksl --write-sksl-on-exit shaders.sksl.json

# generate screenshots (profile mode, specific collection):
# % ./flutterw drive --flavor play -t test_driver/driver_screenshots.dart --profile

################################################################################
# Adaptations

#  `DraggableScrollbar` in `/widgets/common/basic/draggable_scrollbar.dart`
#  adapts from package `draggable_scrollbar` v0.0.4
#
#  `Magnifier` in `/widgets/common/magnifier/magnifier.dart`
#  adapts from package `photo_view` v0.9.2
#
#  `AvesHighlightView` in `/widgets/common/aves_highlight.dart`
#  adapts from package `flutter_highlight` v0.7.0
#
#  `OutputBuffer` in `/services/common/output_buffer.dart`
#  adapts from Flutter v3.3.3 `_OutputBuffer` in `/foundation/consolidate_response.dart`
#
#  `OverlaySnackBar` in `/widgets/common/action_mixins/overlay_snack_bar.dart`
#  adapts from Flutter v3.3.3 `SnackBar` in `/material/snack_bar.dart`
#
#  `EagerScaleGestureRecognizer` in `/widgets/common/behaviour/eager_scale_gesture_recognizer.dart`
#  adapts from Flutter v3.3.3 `ScaleGestureRecognizer` in `/gestures/scale.dart`
#
#  `KnownExtentScrollPhysics` in `/widgets/common/behaviour/known_extent_scroll_physics.dart`
#  adapts from Flutter v3.3.3 `FixedExtentScrollPhysics` in `/widgets/list_wheel_scroll_view.dart`
#
#  `TransitionImage` in `/widgets/common/fx/transition_image.dart`
#  adapts from Flutter v3.3.3 `_ImageState` in `/widgets/image.dart`
#  and `DecorationImagePainter` in `/painting/decoration_image.dart`
#
#  `_RenderSliverKnownExtentBoxAdaptor` in `/widgets/common/grid/sliver.dart`
#  adapts from Flutter v3.3.3 `RenderSliverFixedExtentBoxAdaptor` in `/rendering/sliver_fixed_extent_list.dart`
#
#  `CollectionSearchDelegate`, `SearchPageRoute` in `/widgets/search/search_delegate.dart`
#  adapts from Flutter v3.3.3 `SearchDelegate`, `_SearchPageRoute` in `/material/search.dart`
