name: Quality check

on:
  push:
    branches:
      - develop

jobs:
  build:
    name: Check code quality.
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository.
        uses: actions/checkout@v2

      - name: Get packages for the Flutter project.
        run: scripts/pub_get_all.sh

      - name: Update the flutter version file.
        run: scripts/update_flutter_version.sh

      - name: Static analysis.
        run: ./flutterw analyze

      - name: Unit tests.
        run: ./flutterw test
